extends ./layout.pug
//- Create a block
block body
  h1 We Fight Like Girls
  p Daughters of the Alliance on US-Bronzebeard is one of the oldest all-female guilds in World of Warcraft. We were formed in 2005 and have been going strong ever since. Whether you're looking for a friendly place to level some alts or you're looking for a permanent new home for your characters, we'd love to speak with you!

  p Interested in joining?
  p #[a.btn(href="/about-the-guild") Read about the guild] and then #[a.btn(href="/join") learn how to join]

  aside
    h2 Guild Raid Progression
    //-
      TBD but we should be able to pull some info from the WoW api for this.
      Current plan:
      - Pick a character we know should echo DotA's progress (such as Shaeldre). Maybe even a couple different characters and take most progressed of them?
      - Check raid status for normal and heroic.
        - if it's 2 (which means fully completed) just show that the raid was cleared.
        - If it is 0, show no progress.
        - If it's 1, we go over each boss and show the status of that boss, including the timestamp of when it was killed

    