extends ./layout.pug
//- Create a block
block body
  div.content-wrapper.content-wrapper--text.content-wrapper--has-sidebar
    main.content-wrapper__main
      != PrismicDOM.RichText.asHtml(pageContent.data.page_content, ctx.linkResolver)

      p Interested in joining?
      p #[a.btn.btn--solid(href="/about-the-guild") Read about the guild] and then #[a.btn.btn--solid(href="/join") learn how to join]

    aside.content-wrapper__sidebar
      h2 Raid Progression
      div#progression.progression
        //- gets filled in via js