doctype html
html(lang='en')
  head
      title Daughters of the Alliance: An all-female World of Warcraft guild on US-Bronzebeard
      link(rel="stylesheet", href="/stylesheets/reset.css")
      link(rel="stylesheet", href="/stylesheets/style.css")
      link(rel="stylesheet", href="/stylesheets/vendors/help.min.css")
      link(href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900", rel="stylesheet", type="text/css")
      meta(name="viewport", content="width=device-width, initial-scale=1")

      // Required for Previews and Experiments
      script(src="https://code.jquery.com/jquery-1.12.4.min.js")
      script
        = ctx?"window.prismic = { endpoint: '" + ctx.endpoint + "' };":""
      script(src="//static.cdn.prismic.io/prismic.min.js")
      script(src="/javascript/vendors/highlight.min.js")

  body
    header.site-header
      div.logo Daughters of The Alliance
        p.logo__subtitle An all-female World of Warcraft guild on US-Bronzebeard
      nav.main-nav
        ul.main-nav__list
          li.main-nav__item
            a(href="/about-the-guild") About
          li.main-nav__item
            a(href="/roster") Roster
          li.main-nav__item
            a(href="/raiding") Raiding Information
          li.main-nav__item
            a(href="http://www.coretheloothound.com", target="_blank") Raid Sign-Up
          li.main-nav__item
            a(href="/join") How to Join
          li.main-nav__item
            a(href="/rules") Guild Rules
    main.site-body
      block body
