doctype html
html(lang='en')
  head
      title Daughters of the Alliance: An all-female World of Warcraft guild on US-Bronzebeard
      link(rel="stylesheet", href="/stylesheets/normalize.css")
      link(rel="stylesheet", href="/stylesheets/dota.css")
      link(rel="stylesheet", href="/stylesheets/vendors/help.min.css")
      link(rel="stylesheet", href="https://use.typekit.net/xqm5lao.css")
      meta(name="viewport", content="width=device-width, initial-scale=1")

      // Required for Previews and Experiments
      script(src="https://code.jquery.com/jquery-1.12.4.min.js")
      script
        = ctx?"window.prismic = { endpoint: '" + ctx.endpoint + "' };":""
      script(src="//static.cdn.prismic.io/prismic.min.js")
      script(src="/javascript/vendors/highlight.min.js")

  body
    div.site-wrapper
      header.site-header
        div.site-header__inner-wrap
          div.logo
            a(href="/").logo__link
              div.logo__text Daughters
                span of The Alliance
            p.logo__subtitle An all-female World of Warcraft guild on US-Bronzebeard
          button.js--nav-toggle.nav-toggle
            span.nav-toggle__text Menu
          nav.main-nav
            ul.main-nav__list
              li.main-nav__item
                a(href="/about-the-guild").main-nav__link About
              li.main-nav__item
                a(href="/roster").main-nav__link Roster
              li.main-nav__item
                a(href="/raiding").main-nav__link Raiding Information
              li.main-nav__item
                a(href="http://www.coretheloothound.com", target="_blank").main-nav__link Raid Sign-Up
              li.main-nav__item
                a(href="/join").main-nav__link How to Join
              li.main-nav__item
                a(href="/rules").main-nav__link Guild Rules
      main.site-body
        block body
      footer.site-footer
        p World of Warcraft is &copy; Blizzard Entertainment.
        p Daughters of the Alliance site &copy;#{new Date().getFullYear()} #[a(href="https://www.caiters.com") Caitlin Bailey].
    script(src="/javascript/all.js")
