extends ./layout.pug

block body
  div.content-wrapper.content-wrapper--text
    -if (pageContent.data.header_image && pageContent.data.header_image.url)
      img(src=pageContent.data.header_image.url, alt=pageContent.data.header_image.alt).main-img
    != PrismicDOM.RichText.asHtml(pageContent.data.page_heading, ctx.linkResolver)
    != PrismicDOM.RichText.asHtml(pageContent.data.page_content, ctx.linkResolver)
