extends ./layout.pug
//- Create a block
block body
  div
    //- This is how to get an image into your template
    //- This is how to get a structured text into your template
    != PrismicDOM.RichText.asHtml(pageContent.data.page_title, ctx.linkResolver)
    != PrismicDOM.RichText.asHtml(pageContent.data.page_content, ctx.linkResolver)

    h2 Individual Raid Requirements

    each raid in raidRequirements
      div
        h3
          != PrismicDOM.RichText.asText(raid.raid_name)
        -if (raid.tank_requirements && raid.tank_requirements.length > 0)
          h4 Tank Requirements
          != PrismicDOM.RichText.asHtml(raid.tank_requirements)
        -if (raid.healer_requirements && raid.healer_requirements.length > 0)
          h4 Healer Requirements
          != PrismicDOM.RichText.asHtml(raid.healer_requirements)
        -if (raid.dps_requirements && raid.dps_requirements.length > 0)
          h4 DPS Requirements
          != PrismicDOM.RichText.asHtml(raid.dps_requirements)
        -if (raid.general_requirements && raid.general_requirements.length > 0)
          h4 General Requirements
          != PrismicDOM.RichText.asHtml(raid.general_requirements)
