extends ./layout.pug
//- Create a block
block body
  div.content-wrapper
    div#dotaRoster.roster-container(aria-live="polite")
      nav.roster-nav
        ul.roster-nav__list
          li.roster-nav__item
            router-link(to="/", exact-active-class="roster-nav__link--active").roster-nav__link.btn.btn--solid All Guild Members
          li.roster-nav__item
            router-link(to="/?rank=1,2,3", exact-active-class="roster-nav__link--active").roster-nav__link.btn.btn--solid Officers
          li.roster-nav__item
            router-link(to="/?rank=4", exact-active-class="roster-nav__link--active").roster-nav__link.btn.btn--solid Big Sisters
      main.page-body
        router-view
    script(src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js")
    script(src="https://cdn.jsdelivr.net/npm/vue-chartjs@3.3.1/dist/vue-chartjs.min.js")
    script(src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js")
    script(src="https://cdn.jsdelivr.net/npm/vue-router@3.0.1/dist/vue-router.min.js")
    script(src="https://cdn.jsdelivr.net/npm/vuex@3.0.1/dist/vuex.min.js")
    script(src="/javascript/roster.js")