.group:after {
  content: "";
  display: table;
  clear: both; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }
  .sr-only--focusable:focus {
    left: 0;
    top: 0;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
    background: #fff;
    color: rebeccapurple;
    z-index: 10;
    padding: 0.5em;
    font-weight: bold; }

.m-t-xxs {
  margin-top: 0.25em; }

.m-t-xs {
  margin-top: 0.5em; }

.m-t-sm {
  margin-top: 1em; }

.m-t-md {
  margin-top: 2em; }

.m-t-lg {
  margin-top: 3em; }

.m-t-xl {
  margin-top: 4em; }

.m-b-xxs {
  margin-bottom: 0.25em; }

.m-b-xs {
  margin-bottom: 0.5em; }

.m-b-sm {
  margin-bottom: 1em; }

.m-b-md {
  margin-bottom: 2em; }

.m-b-lg {
  margin-bottom: 3em; }

.m-b-xl {
  margin-bottom: 4em; }

html, body {
  min-height: 100%;
  height: 100%;
  color: #fff;
  background-color: #0a091a;
  font-family: 'brother-1816';
  font-weight: 100; }

body {
  padding: 0;
  line-height: 1.4; }
  body.nav-open {
    overflow: hidden; }

a {
  color: currentColor; }

button {
  font-family: 'brother-1816'; }

.site-wrapper {
  min-height: 100%;
  background-image: url("../images/ysera.jpg");
  background-position: center top;
  background-size: cover;
  padding-left: 1rem;
  padding-right: 1rem;
  background-attachment: fixed;
  position: relative; }
  .site-wrapper:before {
    content: '';
    opacity: 0;
    max-height: 0;
    position: absolute;
    transition: opacity 0.15s; }
  @media (max-width: 767px) {
    .site-wrapper--nav-open:before {
      opacity: 1;
      top: 200px;
      left: 0;
      max-height: 100%;
      right: 0;
      bottom: 0;
      background: rebeccapurple;
      z-index: 1; }
    .site-wrapper--nav-open .main-nav {
      z-index: 3; }
    .site-wrapper--nav-open .site-body, .site-wrapper--nav-open .site-footer {
      z-index: 0; } }
  @media (max-width: 499px) {
    .site-wrapper:before {
      top: 120px; } }
  @media (max-width: 399px) {
    .site-wrapper:before {
      top: 100px; } }
  .site-wrapper:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #0E1329;
    opacity: 0.75; }

.site-header, .site-body, .site-footer {
  position: relative;
  z-index: 1; }

.site-header {
  padding: 1rem 0; }
  .site-header__inner-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1350px;
    margin-left: auto;
    margin-right: auto; }
    @media (min-width: 768px) {
      .site-header__inner-wrap {
        display: flex;
        flex-direction: column; } }
    @media (min-width: 992px) {
      .site-header__inner-wrap {
        display: flex;
        align-items: center;
        flex-direction: row; } }

.site-body {
  padding-top: 3rem; }

.site-footer {
  margin-top: 3rem;
  text-align: center;
  font-size: 0.8rem;
  padding-bottom: 1rem; }

.nav-toggle {
  background: transparent;
  padding: 0.5em;
  text-transform: uppercase;
  border: 2px solid rebeccapurple;
  color: currentColor;
  font-weight: 100; }
  @media (min-width: 768px) {
    .nav-toggle {
      display: none; } }
  .nav-toggle:before, .nav-toggle:after {
    content: '';
    height: 2px;
    background: currentColor;
    display: block;
    transition: opacity 0.15s; }
  .nav-toggle--open:before, .nav-toggle--open:after {
    opacity: 0; }
  .nav-toggle--open .nav-toggle__text {
    color: transparent; }
    .nav-toggle--open .nav-toggle__text:before, .nav-toggle--open .nav-toggle__text:after {
      opacity: 1; }
    .nav-toggle--open .nav-toggle__text:before {
      transform: rotate3d(0, 0, 1, 45deg); }
    .nav-toggle--open .nav-toggle__text:after {
      transform: rotate3d(0, 0, 1, -45deg); }
  .nav-toggle__text {
    display: block;
    transition: all 0.25s; }
    .nav-toggle__text:before, .nav-toggle__text:after {
      transform-origin: 50% 50%;
      transition: transform 0.25s, opacity 0.25s;
      content: '';
      background: #fff;
      display: block;
      height: 2px;
      position: relative;
      opacity: 0; }
    .nav-toggle__text:before {
      margin-bottom: 2px;
      top: 0.75em; }
    .nav-toggle__text:after {
      margin-top: 2px;
      top: -0.75em; }

.logo__link {
  text-decoration: none;
  color: rebeccapurple; }

.logo__text {
  font-family: 'boucherie-cursive', cursive;
  line-height: 1;
  font-size: 55px;
  text-align: center; }
  @media (min-width: 400px) {
    .logo__text {
      font-size: 65px; } }
  @media (min-width: 500px) {
    .logo__text {
      font-size: 100px; } }
  @media (min-width: 768px) {
    .logo__text {
      font-size: 55px; } }
  @media (min-width: 1200px) {
    .logo__text {
      font-size: 100px; } }
  .logo__text span {
    font-family: 'brother-1816', sans-serif;
    text-transform: uppercase;
    display: block;
    font-size: 0.4em;
    color: #fff; }

.logo__subtitle {
  display: none;
  text-align: center; }
  @media (min-width: 500px) {
    .logo__subtitle {
      font-size: 0.8em;
      display: block; } }
  @media (min-width: 992px) {
    .logo__subtitle {
      display: none; } }
  @media (min-width: 1200px) {
    .logo__subtitle {
      display: block; } }

.main-nav {
  display: none;
  font-size: 1.5em; }
  @media (max-width: 767px) {
    .main-nav--open {
      display: block;
      position: absolute;
      top: 220px; } }
  @media (max-width: 499px) {
    .main-nav--open {
      top: 150px; } }
  @media (max-width: 399px) {
    .main-nav--open {
      top: 130px; } }
  @media (min-width: 768px) {
    .main-nav {
      display: block;
      font-size: 1em;
      margin-top: 2rem;
      width: 100%;
      max-width: 768px; } }
  @media (min-width: 992px) {
    .main-nav {
      font-size: 1em;
      width: 100%;
      display: block;
      max-width: none;
      margin-top: 0;
      margin-left: 4rem; } }
  @media (min-width: 1200px) {
    .main-nav {
      font-size: 1.2em; } }
  @media (min-width: 1300px) {
    .main-nav {
      font-size: 1.3em; } }
  .main-nav__list {
    list-style: none outside;
    margin: 0;
    padding: 0; }
    @media (min-width: 768px) {
      .main-nav__list {
        width: 100%;
        display: flex;
        justify-content: space-between; } }
  .main-nav__link {
    text-decoration: none;
    color: currentColor; }

.content-wrapper {
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto; }
  .content-wrapper--text {
    max-width: 900px; }

.main-img {
  display: block;
  border: 3px solid rebeccapurple;
  max-width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); }

.btn {
  display: inline-block;
  padding: 0.5em 0.75em;
  color: currentColor;
  text-decoration: none; }
  .btn--solid {
    background-color: rebeccapurple; }

.member-list {
  list-style: none outside;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .member-list__member {
    padding: 0.5em;
    text-align: center;
    flex-basis: 125px; }
  .member-list__name {
    font-weight: bold; }
  .member-list__image {
    display: block;
    margin-left: auto;
    margin-right: auto; }

.filters {
  background-color: rebeccapurple;
  padding: 1em; }
  .filters__input-group {
    flex-basis: 30%; }
  @media (min-width: 768px) {
    .filters {
      display: flex;
      justify-content: space-between; } }

.input-group__label {
  display: block;
  font-size: 0.9em;
  margin-bottom: 0.25em; }

.input-group__input {
  box-sizing: border-box;
  border: 1px solid #3f1766;
  width: 100%;
  padding: 0.25em; }

.guild-stats__heading {
  text-transform: uppercase; }

.guild-stats__list {
  list-style: none outside;
  margin: 0;
  padding: 0;
  display: flex;
  font-size: 0.8em;
  flex-wrap: wrap; }

.guild-stats__list-item {
  background: rebeccapurple;
  margin-right: 1em;
  margin-bottom: 1em;
  border-radius: 3px;
  padding: 0.25em; }

.guild-stats__number {
  padding-left: 0.25em;
  margin-left: 0.25em;
  border-left: 1px solid #3f1766; }

.roster-nav {
  margin-bottom: 2em; }
  .roster-nav__list {
    list-style: none outside;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: stretch;
    justify-content: center; }
  .roster-nav__item {
    margin-right: 1em; }
    .roster-nav__item:last-child {
      margin-right: 0; }
  .roster-nav__link {
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; }
    .roster-nav__link--active {
      background-color: #3f1766;
      position: relative; }
      .roster-nav__link--active:after {
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 100%;
        width: 0;
        border-top: 10px solid #3f1766;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent; }

/*# sourceMappingURL=maps/dota.css.map */
