.btn {
  display: inline-block;
  padding: 0.5em 0.75em;
  color: currentColor;
  text-decoration: none;

  &--solid {
    background-color: rgb(102, 51, 153);
    transition: background-color 0.25s;
    &:hover {
      background-color:rgb(80, 33, 128);
    }
  }
}

.progression {
  &__boss {}
  &__defeated {
    text-decoration: line-through;
  }
  &__raid-name {
    &:before {
      content: '-';
    }
    &:after {
      content: '-';
    }
  }
}