.site-wrapper {
  min-height: 100%;
  background-image: url('../images/ysera.jpg');
  background-size: cover;
  padding-left: 1rem;
  padding-right: 1rem;
  background-attachment: fixed;
  position: relative;
  &:before {
    content:'';
    opacity: 0;
    max-height: 0;
    position: absolute;
    transition: opacity 0.15s;
  }
  &--nav-open {
    @media (max-width: 767px) {
      &:before {
        opacity: 1;
        top: 100px;
        left: 0;
        max-height: 100%;
        right: 0;
        bottom: 0;
        background: rebeccapurple;
        z-index: 1;
      }
      .main-nav {
        z-index: 3;
      }
      .site-body, .site-footer {
        z-index: 0;
      }
    }
  }
  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #0E1329;
    opacity: 0.75;
  }
}

.site-header, .site-body, .site-footer {
  position: relative;
  z-index: 1;
}

.site-header {
  padding: 1rem 0;
  &__inner-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1350px;
    margin-left: auto;
    margin-right: auto;
    @media (min-width: 768px) {
      display: flex;
      align-items: center;
    }
  }
}

.site-body {
  padding-top: 3rem;
}

.site-footer {
  margin-top: 3rem;
  text-align: center;
  font-size: 0.8rem;
  padding-bottom: 1rem;
}

.nav-toggle {
  background: transparent;
  padding: 0.5em;
  text-transform: uppercase;
  border: 2px solid rebeccapurple;
  color: currentColor;
  font-weight: 100;
  &:before, &:after {
    content: '';
    height: 2px;
    background: currentColor;
    display: block;
    transition: opacity 0.15s;
  }

  &--open {
    &:before, &:after {
      opacity: 0;
    }
    .nav-toggle__text {
      &:before, &:after {
        opacity: 1;
      }
      color: transparent;
      &:before {
        transform: rotate3d(0, 0, 1, 45deg);
      }
      &:after {
        transform: rotate3d(0, 0, 1, -45deg);
      }
    }
  }

  &__text {
    display: block;
    transition: all 0.25s;
    &:before, &:after {
      transform-origin: 50% 50%;
      transition: transform 0.25s, opacity 0.25s;
      content: '';
      background: #fff;
      display: block;
      height: 2px;
      position: relative;
      opacity: 0;
    }
    &:before {
      margin-bottom: 2px;
      top: 0.75em;
    }
    &:after {
      margin-top: 2px;
      top: -0.75em;
    }
  }
}

.logo {
  @media (min-width: 768px) {
    min-width: 355px;
  }
  &__link {
    text-decoration: none;
    color: rebeccapurple;
  }
  &__text {
    font-family: 'boucherie-cursive', cursive;
    line-height: 1;
    font-size: 55px;
    text-align: center;
    @media (min-width: 400px) {
      font-size: 100px;
    }
    span {
      font-family: 'brother-1816', sans-serif;
      text-transform: uppercase;
      display: block;
      font-size: 0.4em;
      color: #fff;
    }
  }
  &__subtitle {
    display: none;
    text-align: center;
    @media (min-width: 400px){
      font-size: 0.8em;
      display: block;
    }
  }
}

.main-nav {
  display: none;
  font-size: 1.5em;
  &--open {
    @media (max-width: 767px){
      display: block;
      position: absolute;
      top: 130px;
    }
  }
  @media (min-width: 768px) {
    font-size: 1.3em;
    width: 100%;
    margin-left: 4rem;
  }
  &__list {
    list-style: none outside;
    margin: 0;
    padding: 0;
    @media (min-width: 768px) {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }
  &__link {
    text-decoration: none;
    color: currentColor;
  }
}

.content-wrapper {
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto;
  &--text {
    max-width: 900px;
  }
}

.main-img {
  display: block;
  border: 3px solid rebeccapurple;
  max-width: 100%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}