.member-list {
  list-style: none outside;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &__member {
    padding: 0.5em;
    text-align: center;
    flex-basis: 125px;
  }
  &__name {
    font-weight: bold;
  }
  &__image {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.filters {
  background-color: rebeccapurple;
  padding: $sm;
  &__input-group { flex-basis: 30%; }
  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}

.input-group {
  &__label {
    display: block;
    font-size: 0.9em;
    margin-bottom: $xxs;
  }
  &__input {
    box-sizing: border-box;
    border: 1px solid #3f1766;
    width: 100%;
    padding: $xxs;
  }
}

.guild-stats {
  &__heading { text-transform: uppercase; }
  &__list {
    list-style: none outside;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 0.8em;
    flex-wrap: wrap;
  }
  &__list-item {
    background: rebeccapurple;
    margin-right: $sm;
    margin-bottom: $sm;
    border-radius: 3px;
    padding: $xxs;
  }
  &__number {
    padding-left: $xxs;
    margin-left: $xxs;
    border-left: 1px solid #3f1766;
  }
}

.roster-nav {
  &__list {
    list-style: none outside;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: stretch;
    justify-content: center;
  }
  &__item {
    margin-right: 1em;
  }
  &__link {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &--active {
      background-color:#3f1766;
      position: relative;
      &:after {
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 100%;
        width: 0;
        border-top: 10px solid #3f1766;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
      }
    }
  }
}