.group:after {
  content: "";
  display: table;
  clear: both;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
  &--focusable {
    &:focus {
      left: 0;
      top: 0;
      width: auto;
      height: auto;
      margin: 0;
      overflow: visible;
      clip: auto;
      background: #fff;
      color: rebeccapurple;
      z-index: 10;
      padding: 0.5em;
      font-weight: bold;
    }
  }
}

// margins
.m {
  &-t {
    &-xxs { margin-top: $xxs; }
    &-xs { margin-top: $xs; }
    &-sm { margin-top: $sm; }
    &-md { margin-top: $md; }
    &-lg { margin-top: $lg; }
    &-xl { margin-top: $xl; }
  }
  &-b {
    &-xxs { margin-bottom: $xxs; }
    &-xs { margin-bottom: $xs; }
    &-sm { margin-bottom: $sm; }
    &-md { margin-bottom: $md; }
    &-lg { margin-bottom: $lg; }
    &-xl { margin-bottom: $xl; }
  }
}