@import 'variables';
@import 'utility';
@import 'base';
@import 'layout';
@import 'roster';

.logo-link { text-decoration: none; color: rebeccapurple; }
.logo { font-family: 'boucherie-cursive', cursive; font-size: 100px; line-height: 1;
  span { font-family: 'brother-1816', sans-serif; text-transform: uppercase; display: block; font-size: 0.4em; color: #fff; }
}